In [1]:
#1. Create a function that takes a boolean variable flag and returns it as a string. 
#Examples
#bool_to_string(True) ➞ "True" 
#bool_to_string(False) ➞ "False"

def bool_to_string(flag):
    if flag==True:
        return "True"
    elif flag==False:
        return "False"
    else:
        return None

bool_to_string(True)

'True'

In [2]:
#2 Create a function that returns True when num1 is equal to num2; otherwise return False.

def x(y,z):
    
    if y==z:
        print(True)
    else:
        print(False)

In [3]:
x(2,3)

False

In [4]:
x(2,2)

True

In [5]:
#3 Create a function that takes a number as its only argument and returns True if it's less than or equal to zero,
#otherwise return False.

def x(y):
    
    if y<=0:
        return True
    else:
        return False

In [6]:
x(2)

False

In [7]:
x(-1)

True

In [8]:
#4 Emmy has written a function that returns a greeting to users. However, she's in love with Mubashir, and would like to greet him slightly differently. She added a special case in her function, but she made a mistake.
#Can you help her?

def greeting(y,x="hello"):
    if y=="matt":
        return x+", matt!"
    if y=="helen":
        return x+", helen!"
    if y=="mubashir":
        return x+", my love!"

In [9]:
greeting("matt")

'hello, matt!'

In [10]:
greeting("helen")

'hello, helen!'

In [11]:
greeting("mubashir")

'hello, my love!'

In [12]:
#5 Create a function that takes two arguments. Both arguments are integers, a and b. Return True if one of them is 10 or if 
#their sum is 10.

def check(a,b):
    if a==10 or b==10 or a+b==10:
        return True
    else:
        return False

In [13]:
check(10,9)

True

In [14]:
check(1,2)

False

In [15]:

# 6 Create a function that takes three arguments prob, prize, pay and returns True if prob * prize > pay; otherwise return False.

def a(prob,prize,pay):
    return prob * prize > pay

In [16]:
a(0.2,50,5)

True

In [17]:
a(0.2,5,50)

False

In [19]:
#7 Create a function that takes an integer and returns True if it's divisible by 100, otherwise return False.

def integer(x):
    return x%100==0

In [20]:
integer(100)

True

In [21]:
#8 Create a function that takes two strings as arguments and return either True or False depending on whether the total number
#of characters in the first string is equal to the total number of characters in the second string.

def strings(a,b):
    if len(a)==len(b):
        return True
    else:
        return False

In [22]:
strings("lion","tiger")

False

In [23]:
strings("lion","lion")

True

In [24]:
#9 Given a string, return True if its length is even or False if the length is odd.

def x(a):
    return len(a)%2==0

In [25]:
x("lion")

True

In [26]:
x("tiger")

False

In [36]:
#10 Create a function that takes a string; we'll say that the front is the first three characters of the string. If the string 
#length is less than three characters, the front is whatever is there. Return a new string, which is three copies of the front.


def copies(a):
    if len(a)<3:
        return a
    else:
        return a[0:3]*3

In [34]:
copies("lion")

'lioliolio'

In [35]:
copies("c")

'c'

In [41]:
#12 Write a function that returns True if a year is a leap, otherwise return False.
#A year is a "leap year" if it lasts 366 days, instead of 365 in a typical year. That extra day is added to the end of the shortest month, creating February 29.
#A leap year occurs every four years, and will take place if the year is a multiple of four. The exception to this is a year at the beginning of a century (for example, 1900 or 2000), where the year must be divisible by 400 to be a leap year.
#Look at the examples, and if you need help, look at the resources panel

def leap_year(r):
    
    if r%4==0:
        return True
    else :
        return False
    
        if r%400==0:
            return True
        else:
            return False

In [42]:
leap_year(1990)

False

In [44]:
leap_year(1924)

True

In [45]:
#13 Create a function that takes an array of hurdle heights and a jumper's jump height, and determine whether or not the hurdler can clear all the hurdles.
#A hurdler can clear a hurdle if their jump height is greater than or equal to the hurdle height.

def hurdle_height(x,z):
    for y in x:
        if y>z:
            return False
        else:
            return True

In [46]:
hurdle_height([1, 2, 3, 4, 5], 5)

True

In [48]:
hurdle_height([5, 5, 3, 4, 5], 3)

False

In [61]:
#14 Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string. For example, if you're given 3 as input, your function should return "March", because March is the 3rd month.

def month_name(x):
    if x==1:
        return "Jan"
    elif x==2:
        return "Feb"
    elif x==3:
        return "mar"
    elif x==4:
        return "apr"
    elif x==5:
        return "may"
    elif x==6:
        return "jun"
    elif x==7:
        return "jul"
    elif x==8:
        return "aug"
    elif x==9:
        return "sep"
    elif x==10:
        return "oct"
    elif x==11:
        return "nov"
    elif x==12:
        return "dec"
    else:
        return "invalid"

In [59]:
month_name(2)

'Feb'

In [60]:
month_name(12)

'dec'

In [68]:
#15 Create a function that takes in a two-dimensional list and returns the number of sub-lists with only identical elements.

def same(x):
    count=0
    for z in x:
        if len(set(z))==1:
            count+=1
    return count

In [69]:
same([
  [1],
  [2],
  [3],
  [4]
])

4

In [72]:
same([
  [1, 2],
  [2, 3],
  [3, 4],
  [4, 4]
])

1

In [73]:
same([
  [33, 33],
  [5],
  ["a", "a"],
  [2, 2, 2],
  [1, 2, 2],
  [3, 1]
])

4

In [62]:
#16 A bartender is writing a simple program to determine whether he should serve drinks to someone. He only serves drinks to people 18 and older and when he's not on break.

#Given the person's age, and whether break time is in session, create a function which returns whether he should serve drinks.


def should_serve_drinks(age, on_break):
    if age>=18 and on_break ==False:
        return True
    else:
        return False

In [63]:
should_serve_drinks(17, True)

False

In [64]:
should_serve_drinks(19, False)

True

In [77]:
#17 You will need to write three unfinished logic gates. Continue to write the three logic gates: AND, OR, and NOT.

def AND(x,y):
    if x==1 and y==1:
        return 1
    else:
        return 0
def OR(x,y):
    if x==1 or x==1:
        return 1
    else :
        return 0
    
def NOT(x):
    if x==1:
        return 0
    if x==0:
        return 1

In [78]:
NOT(0)

1

In [79]:
#18 Write a function that accepts base (decimal), height (decimal) and shape ("triangle", "parallelogram") as input and calculates 
#the area of that shape.

def area_shape(base, height, shape):
    if shape=="triangle":
        return 0.5*base*height
    else:
        return base*height
    
area_shape(2, 3, "triangle")
area_shape(8, 6, "parallelogram")

48

In [80]:
#19 Create a function that takes a string (a random name). If the last character of the name is an "n", return True,
#otherwise return False.
def name(a):
    return a.endswith("n")
name("lion")

True

In [81]:
#20 Create a function that takes in a word and determines whether or not it is plural. A plural word is one that ends in "s"

def is_plural(a):
    return a[-1]=="s"
is_plural("lions")

True

In [82]:
#21 Create a function that takes a number as an argument and returns "even" for even numbers and "odd" for odd numbers.

def x(a):
    if a%2==0:
        return "even"
    else:
        return "odd"

In [83]:
x(3)

'odd'