In [7]:
#The packaging machine is running the get_container() function to retrieve the container of a product. But something is not right...

def get_continer(x):
    if x=="Bread":
        return "bag"
    elif x=="Beer":
        return "bottle"
    elif x=="candy":
        return "palstic"
    else:
        return None
get_continer("candy")

'palstic'

In [16]:
#Write a function that returns 0 if the input is 1, and returns 1 if the input is 0
def flip(y):
    if y==1:
        return 0
    if y==0:
        return 1
flip(0)

1

In [1]:
#Create a function that takes an argument of any data type and returns 1 if it's truthy and 0 if it's falsy.
def is_truthy(val):
    if val:
        return 1
    else :
        return 0
is_truthy(False)

0

In [4]:
#Write a function that takes a string name and a number num (either 0 or 1) and return "Hello" + name if num is 1, otherwise return "Bye" + name.

def say_hello_bye(name, num):
    if num==0:
        return "Hello " + name
    if num==1:
        return "Bye " + name

In [5]:
say_hello_bye("noah",0)

'Hello noah'

In [21]:
#Create a function that takes a list (slot machine outcome) and returns True if all elements in the list are identical, and 
#False otherwise. The list will contain 4 elements.

def test_jackpot(result):
    new=result[0]
    for x in result:
        if x!=new:
            return False
        
    return True

In [22]:
test_jackpot(["@", "@", "@", "@"])

True

In [23]:
test_jackpot(["&&", "&", "&&&", "&&&&"])

False

In [2]:
def test_jackpot(result):
    first_element = result[0]
    for element in result:
        if element != first_element:
            return False
    return True

In [3]:
test_jackpot(["&&", "&", "&&&", "&&&&"])

False

In [4]:
test_jackpot(["@", "@", "@", "@"])

True

In [5]:
#Create a function that takes an array of hurdle heights and a jumper's jump height, and determine whether or not the hurdler can clear all the hurdles.

#A hurdler can clear a hurdle if their jump height is greater than or equal to the hurdle height

def hurdle_jump(hurdles, jump_height):
    for x in hurdles:
        if x<jump_height:
            return True
        else:
            return False

In [6]:
hurdle_jump([1, 2, 3, 4, 5], 5)

True

In [7]:
hurdle_jump([5, 5, 3, 4, 5], 3)

False

In [2]:
#Create a function that takes a number as its argument and returns a list of all its factors.
a=[]
def factorize(num):
    for x in range(1,num+1):
        if num%x==0:
            a.append(x)
    return a

In [16]:
factorize(12)

[1, 2, 3, 4, 6, 12]

In [3]:
factorize(17)

[1, 17]

In [4]:
factorize(4)

[1, 17, 1, 2, 4]

In [8]:
#Create a function that goes through the array, incrementing (+1) for each odd-valued number and decrementing (-1) for each even-valued number.

def x(a):
    b=[]
    for y in a:
        if y%2==0:
            y=y-1
            b.append(y)
            
            
        else:
            y=y+1
            b.append(y)
            
    return b
    
    
x([1, 2, 3, 4, 5])

[2, 1, 4, 3, 6]

In [34]:
# Write a function that returns the number of users in a chatroom based on the following rules:

# If there is no one, return "no one online".
# If there is 1 person, return "user1 online".
# If there are 2 people, return "user1 and user2 online".
# If there are n>2 people, return the first two names and add "and n-2 more online".
# For example, if there are 5 users, return:

# "user1, user2 and 3 more online"

def chat(user):
    if len(user)==0:
        return "no one online"
    elif len(user)==1:
        return user[0] +" is online"
    elif len(user)==2:
        return user[0]  + " and "+ user[1] + " is online"
    else:
        return user[0] + user[1] + " and "+ str(len(user)-2) + " more online"
chat(["paRIE_to"])

'paRIE_to is online'

In [26]:
chat([])

'no one online'

In [27]:
chat(["paRIE_to"])

'paRIE_to is online'

In [32]:
chat(["s234f", "mailbox2"])

's234f and mailbox2 is online'

In [35]:
chat(["pap_ier44", "townieBOY", "panda321", "motor_bike5", "sandwichmaker833", "violinist91"])

'pap_ier44townieBOY and 4 more online'

In [44]:
# Create a function that returns the number of palindrome numbers in a specified range (inclusive).


def pal(x,y):
    a=0
    for z in range(x,y):
        if str(z)==str(z)[::-1]:
            a=a+1
    return a
pal(1, 10)

9

In [46]:
pal(555, 556)

1

In [54]:
#Create a function that returns the sum of all even elements in a 2D matrix.
def sum(x):
    a=0
    for k in x:
        
        for z in k:

            if z%2==0:
                a=a+z
    return a

In [55]:
sum([
  [1, 0, 2],
  [5, 5, 7],
  [9, 4, 3]
])

6

In [56]:
sum([
  [42, 9],
  [16, 8]
])

66

In [60]:
# Write a function that takes a string, breaks it up and returns it with vowels first, consonants second. For any character that's not a vowel (like special characters or spaces), treat them like consonants.

def vo(a):
    z=""
    k=""
    for x in a:
        
        if x== "a" or x=="e" or x== "i" or x=="o" or x== "u":
            z=z+x
        else:
            k=k+x
    return z+k

In [62]:
vo("abcde")

'aebcd'

In [63]:
vo("What's the time?")

"aeieWht's th tm?"

In [73]:
#Create a function that takes a string as an argument and returns a coded (h4ck3r 5p34k) version of the string.

def stri(a):
    sub = { 'a': '4',
        'e': '3',
        'i': '1',
        'o': '0',
        's': '5'}
    for x,y in sub.items():
        a=a.replace(x,y)
    return a

In [75]:
a("javascript is cool")

TypeError: 'str' object is not callable

In [92]:
#Write a function that takes a string, breaks it up and returns it with vowels first, consonants second. For any character that's not a vowel (like special characters or spaces), treat them like consonantsdef stri(a):
def stri(a): 
    sub = {'a': '4', 'e': '3', 'i': '1', 'o': '0', 's': '5'}
    for x, y in sub.items():
        a = a.replace(x, y)
    return a

In [93]:
stri("javascript is cool")

'j4v45cr1pt 15 c00l'

In [86]:
#Create a function that takes in a year and returns the correct century.

def year(x):
    z=x//100
    return str(z)+"th"+" century"

In [87]:
year(1756)

'17th century'

In [88]:
year(2005)

'20th century'

In [89]:
year(1000)

'10th century'