In [ ]:
#1.Write a python program to convert a string to lower case

In [7]:
a="AGDNJjkj"
b=""
for z in a:
    b=b+z.lower()
print(b)

agdnjjkj

In [2]:
a="AGDNJjkj"
b=""
i=0
while i<len(a):
    b=b+a[i].lower()
    i=i+1
print(b)

agdnjjkj

In [3]:
#2.Write a python program to convert only odd  indexed characters to lower case 
Ex:- PYTHON
Output: - PyThOn

In [19]:
a="PYTHON"
b=""

for y in range(len(a)):
    if y%2==0:
        b=b+a[y]
    else:
        b=b+a[y].lower()
print(b)

PyThOn

In [14]:
a="PYTHON"
b=""
c=0

while c<len(a):
    if c%2==0:
        b=b+a[c]
    else:
        b=b+a[c].lower()
    c=c+1
print(b)

PyThOn

In [20]:
#3.Write a python program to convert only even indexed characters to lower case 
Ex:- PYTHON
output: - pYtHoN

In [1]:
a="PYTHON"
b=""
c=0
while c<len(a):
    if c%2==0:
        b+=a[c].lower()
    else:
        b+=a[c]
    c=c+1
print(b)

pYtHoN

In [ ]:
#.Write a python program to convert only odd indexed characters to upper case 
Ex:- python
Output: - pYtHoN

In [ ]:
a="python"
b=""
c=0

if z in len(a):

In [1]:
a="python"
b=""
c=0

while c<len(a):
    if c%2!=0:
        b+=a[c].upper()
    else:
        b+=a[c]
    c=c+1
print(b)

pYtHoN

In [ ]:
#5.Write a python program to convert only even indexed characters to upper case 
Ex:- python
Output: - PyThOn

In [9]:
a="python"
b=""

for z in range(len(a)):
    if z%2==0:
        b+=a[z].upper()
    else:
        b+=a[z]
print(b)

PyThOn

In [ ]:
#6.Write a python program where you have 
different variable which contains your name 
,sex,age, phone no ,fathers name and mothers 
name.And by using this variable create a 
variable named bio-data where you will use all 
this variable
Ex:-print(bio-data)
Output:- My name is …., My age is ….,My 
phone-no is ….,my fathers name is …,and my 
mothers name is……

In [1]:
Name= "noah"
age= 26
phno=13355
fname="Daniel"
mname="Suvarthamma"

x="My name is {}, My age is {},My phone-no is {},my fathers name is {},and my mothers name is {}"
y=x.format(Name,age,phno,fname,mname)
print(y)

My name is noah, My age is 26,My phone-no is 13355,my fathers name is Daniel,and my mothers name is Suvarthamma

In [ ]:
#7.Write a python program to count how many 
times “@” occurred

In [21]:
a="jbakd@@kb@@"
a.count("@")

4

In [16]:
a="jbakd@@kb@@"
d=0
for z in a:
    c=z.count("@")
    if c>0:
        d=d+1
        
print(d)

4

In [ ]:
#8.Write a python program to get only names from the string 
“name1.@gmail.com,name2.@gmail.com,name
3.@gmail.com”
Output-name1,name2,name3

In [5]:
a = "name1.@gmail.com,name2.@gmail.com,name3.@gmail.com"
names = a.split(".@gmail.com")


x=""
for z in names:
    x=x+z
print(x)

name1,name2,name3

In [ ]:
#9.Given a string of odd length greater that 9, return a new string made of the middle three 
characters of a given String
Ex:- “mynameissan
Output:- “mei”

In [32]:
x="mynameissan"
x[4:7]

'mei'

In [ ]:
#Write a python program to insert a 2 string  in the middle of 1 string
Ex:-Str1=”myn”
 Str2=”sa”
Output:-“msayn”

In [34]:
Str1="myn"
Str2="sa"
x=Str1[0]+Str2[0:]+Str1[1:]
x

'msayn'

In [ ]:
#11. Write a program to remove vowels from 
the entire alphabets 
Ex:- “abcdefghijklmnopqrstuvwxyz”
Output:- “bcdfghjklmnpqrstvwxyz"

In [2]:
a="abcdefghijklmnopqrstuvwxyz"
b="aeiou"
for z in b:
    a=a.replace(b, "")
print(a)

bcdfghjklmnpqrstvwxyz

In [45]:
a = "abcdefghijklmnopqrstuvwxyz"
b = "aeiou"

for z in b:
    a = a.replace(z, "")

print(a)

bcdfghjklmnpqrstvwxyz

In [38]:
a=int(input("enter a number to added upto: "))
b=0

for z in range(a):
    
    a=z+a
    
        
print(a)

enter a number to added upto: 10
55